/*
    Color describing
*/
/*
    Reset style fot the page
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

/*
    Navigation in the web
*/
#nav {
  flex: 0 218px;
  min-width: 218px;
  background-color: #490057;
}
#nav #logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 44px 0 111px 44px;
}
#nav #logo img {
  width: 38px;
  object-fit: cover;
  margin-right: 13px;
}
#nav #logo span {
  font-weight: 600;
  font-size: 2.4rem;
  color: #ffffff;
}
#nav .menu {
  list-style-type: none;
  padding-left: 39px;
}
#nav .menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 24px;
  margin-right: 14px;
  width: 24px;
  height: 24px;
}
#nav .menu__icon svg {
  opacity: 0.8;
}
#nav .menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  margin-bottom: 30px;
  position: relative;
  font-weight: 600;
  font-size: 1.6rem;
}
#nav .menu__item span {
  opacity: 0.7;
}
#nav .menu__item svg,
#nav .menu__item span {
  transition: all linear 0.3s;
}
#nav .menu__item--select {
  color: #fbb03b;
}
#nav .menu__item--select svg,
#nav .menu__item--select span {
  opacity: 1;
}
#nav .menu__item--select path {
  fill: #fbb03b;
}
#nav .menu__item--select::before {
  content: "";
  display: block;
  padding: 24px 41px;
  background-image: linear-gradient(to right, #fbb03b, #fbb03b, rgba(255, 255, 255, 0));
  position: absolute;
  left: -44px;
  top: -50%;
  opacity: 20%;
}
#nav .menu__item:hover {
  cursor: pointer;
}
#nav .menu__item:hover svg,
#nav .menu__item:hover span {
  opacity: 1;
}

.header {
  display: flex;
  flex-flow: row;
  width: 100%;
}
.header .search {
  position: relative;
  flex-grow: 1;
}
.header .search__box {
  width: 100%;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  height: 62px;
  padding: 23px;
  padding-left: 47px;
  font-size: 1.2rem;
  font-weight: 400;
}
.header .search__box::placeholder {
  opacity: 0.7;
  color: #490057;
}
.header .search__icon {
  font-size: 14px;
  color: #490057;
  position: absolute;
  top: 24px;
  left: 23px;
}

.user {
  display: flex;
  color: #490057;
  margin-left: 32px;
}
.user__img {
  margin-left: 12px;
  flex: 0 60px;
  width: 60px;
  height: 60px;
  background-color: #fbb03b;
  border-radius: 50%;
}
.user__img img {
  width: 100%;
  object-fit: cover;
  z-index: 50000;
  position: relative;
}
.user__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user__text p {
  margin: 0;
}
.user__name {
  font-size: 1.2rem;
  font-weight: 700;
}
.user__logout {
  font-size: 1rem;
  font-weight: 300;
}

.info {
  width: 100%;
  margin-top: 22px;
  background-color: #ffffff;
  border-radius: 10px;
}
.info__cover {
  position: relative;
}
.info__cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.info__avt {
  width: 180px;
  height: 180px;
  background-color: #fbb03b;
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  left: 56px;
}
.info__avt img {
  width: 100%;
  object-fit: cover;
  z-index: 50000;
  position: relative;
}
.info__footer {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}
.info__text {
  color: #a303a0;
  margin-left: 215px;
}
.info__text .info__name {
  font-weight: 700;
  font-size: 30px;
}
.info__text .info__career {
  font-weight: 400;
  font-size: 16px;
}
.info__action {
  display: flex;
  align-items: center;
  margin-right: 54px;
}
.info__action .action__mess {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  width: 46px;
  height: 46px;
  background-color: #a303a0;
  color: #ffffff;
  border-radius: 50%;
}
.info__action .action__mess svg {
  width: 20px;
}
.info__action .action__follow {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 50px;
  background-color: #a303a0;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 10px;
}
.info__action .action__shedule {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 14px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #a303a0;
  border: 1px solid #a303a0;
  margin-left: 10px;
}

.content-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 30px;
  /*
      Color describing
  */
}
.content-group .about {
  flex: 0 260px;
  background-color: #ffffff;
  padding: 40px 0 30px 22px;
  border-radius: 10px;
  color: #a303a0;
}
.content-group .about__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.content-group .about__menu {
  list-style-type: none;
}
.content-group .about__menu .item {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 0;
  border-bottom: 0.5px solid rgba(3, 2, 41, 0.1);
}
.content-group .about__menu .item:nth-last-child(1) {
  border: none;
}
.content-group .about__menu .item__icon {
  flex: 0 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 7px;
}
.content-group .about__menu .item__icon svg {
  object-fit: cover;
}

/*
    Main content in the web
*/
#main {
  flex: 1;
  background-color: #f7f7f8;
  padding: 20px 32px 0;
}

/*
    Main CSS for profile - visitor view
*/
#root {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=main-profile.css.map */
