@use "color";

.content-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;

  @import "about";

  @import "posts";

  @import "contact";
}
